<div>
    <p>Hi  !</p>
    <br>
    <br>
    <p>You requested <strong>to reset</strong> your password on Codeial.</p>
    <p> Please, click the link below to reset your password</p>
        <a href="http://<%=link%>">Reset Password</a>
    <br>
    <br>
    <p>Thanks!</p>
</div>