<div>
    <p>Hi  !</p>
    <br>
    <br>
    <p>Your <strong>Password</strong> has been successfully reset on Codeial.</p>
    <br>
    <br>
    <p><strong>Not Done by you?</strong> Use your registered email ID to reset it again on Codeial.</p>
    <br><br>
    <p>Thanks!</p>
</div>