<link rel="stylesheet" href="/css/header.css">

<header>
   <div id="header-display">
    <div id="brand">
        <h1><a href="/">codeial</a></h1>
    </div>
    <div id="user-detail">
        <!-- not declares user anywhere hence using it as it is  -->
        <% if(locals.user){ %>
            <div class="user-status">
                <a href="/users/profile"><%=user.name%></a>
            </div>
            <div class="user-status">
                <a href="/users/sign-out">Signout</a>
            </div>
        <%}else{ %>
            <div>
                <a href="/users/sign-in">Sign In</a>

            </div>
            <div>  <a href="/users/sign-up">Sign Up</a></div>
            <%}%>
    </div>
   </div>
    
</header>