<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>

        <section id="feed-posts">
            <h4>
                Posts
            </h4>
            <form action="\posts\create" id="new-post form" method="POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type here.."></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
       
        <div>
            <ul>
                <% for(let post of posts){ %>
                    <li>
                        <p>
                            <h3>
                                <%= post.content %>
                            </h3>
                            
                                -<%= post.user.name%>
                            
                        </p>
                    </li>
                    
                <% } %>
            </ul>
        </div>

    </body>
</html>
