<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <div>
            <ol>
                <% for(let i of something){ %>
                    <li>
                        <%= i.name %>
                    </li>
                <% } %>
            </ol>
        </div>
    </body>
</html>