<link rel="stylesheet" href="<%= assetPath('css/resetPassword.css') %>">
<h1>Welcome to the Password Reset Page!</h1>

<form action="/auth/resetPassword" method="POST" id="resetForm">
    <input type="hidden" name="id" value="<%=id%>">
    <input type="hidden" name="token" value="<%=token%>">
    <input type="password" name="password" id="" placeholder="New Password">
    <input type="password" name="" id="" placeholder="Confirm Password">
    <input type="submit" value="Reset">
</form>