<h1>Logged out? Sign In here...</h1>

<div class="sign-in-up-page">
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input id="sign-in-button" type="submit" value="Sign In">
    </form>
</div>