h1{
    text-align: center;
}
.sign-in-up-page{
    // padding-top: 10%;
    height: 66%;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        input{
            width: 26%;
            padding: 5px 12px;
            margin: 10px;
        }
    }
}