h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form input {
  width: 26%;
  padding: 5px 12px;
  margin: 10px;
}
