h1 {
  text-align: center;
}

.sign-in-up-page {
  height: 66%;
}

.sign-in-up-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sign-in-up-page form input {
  width: 26%;
  padding: 5px 12px;
  margin: 10px;
}
