footer {
  color: white;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  font-family: 'montserrat',sans-serif;
}

footer #footer-display {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

footer #footer-display div {
  margin: 0 10px;
}

footer #footer-display #information a {
  transition: all 0.5s;
  color: white;
}

footer #footer-display #information a:hover {
  color: cyan;
  transform: scaleY(2px);
}
